.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    >.card{

        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        margin: 20px 5px;

        flex: 0 300px;
        padding: 10px 20px;
        
        
        box-shadow: 0 0 3px #333;
        >h2{
        }
        >a{
            text-transform: uppercase;
        }
    }
}